@tailwind base;
@tailwind utilities;
@tailwind components;

.Mars {
  background-image: url('../assets/roveronmars.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

